# Ephemeral
*.user
.DS_Store
Thumbs.db

# Machine-specific
/asciinema
/aws
/aws-sam
/circleci
/docker
/gh
/kube
/menus
/msmtp
/op
/packer
/pulse
/terraform
/transmission*
/vscode

# Uninteresting stuff
/Electron
/fontforge
/ibus
/glib-2.0
/w3m
/pavucontrol.ini
