# junk
.DS_Store
Thumbs.db
*.user
__pycache__
__init__.py

# sensitive
aws
circleci
gh
micro/buffers
msmtp
profile.d/up
profile.d/work
terraform
zsh/history

# machine-specific
asciinema/install-id
git/user

# uninteresting stuff
ansible
aws-sam
docker
kube
micro/*
!micro/bindings.json
!micro/settings.json
packer
vscode

# zsh third party plugins
zsh/plugins/*/
