# Ephemeral
*.user
.DS_Store
Thumbs.db

# Machine-specific
/asciinema
/aws
/aws-sam
/circleci
/docker
/gh
/kube
/menus
/mimeapps.list
/msmtp
/packer
/pulse
/Slack
/terraform
/vscode

# Uninteresting stuff
/cef_user_data
/fontforge
/glib-2.0
/w3m
/pavucontrol.ini
