[submodule "ranger/plugins/ranger-archives"]
	path = ranger/plugins/ranger-archives
	url = https://github.com/maximtrp/ranger-archives.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-completions"]
	path = zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/plugins/!fzf-tab"]
	path = zsh/plugins/!fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
[submodule "zsh/vendor/zsh-async"]
	path = zsh/vendor/zsh-async
	url = https://github.com/mafredri/zsh-async.git
[submodule "zsh/vendor/fast-syntax-highlighting"]
	path = zsh/vendor/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
